*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.old
*.qlf
*.out
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.bbl
*.blg
*.manifest
*~
TAGS
Makefile
autom4te.cache
configure
config.h
config.h.in
config.status
clib.pdf
clib.html
clib.tex
process.tex
mime.tex
uri.tex
filesex.tex
uid.tex
.pl-history
maildrop/rfc2045/rfc2045charset.h
stamp-h1
